.cards{
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns:260px 260px 260px 260px;
    margin-top: 50px;
}

.card{
    width: 275px;
    height: 100%;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.card:hover{
    transform: scale(0.97);
}

.cardImage{
    height: 180px;
    width: 275px;
    margin-bottom: 15px;
}

.cardImage img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.cardContent{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-left: 10px;
}

.cardContent h6{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 13px;
}

.cardContent p{
    color: rgb(90, 90, 90);
    font-size: 14px;
}

